.custom-shape-divider-bottom-1610707847 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1610707847 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 280px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1610707847 .shape-fill {
    fill: #000000;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1610707847 svg {
        width: calc(100% + 1.3px);
        height: 231px;
    }
}