#navbar
{
    
    .option
    {
        background-color: transparent !important;
        display: flex;
        justify-content: space-between;
    }
    .nav-heading
    {
    
        text-decoration: none !important;
        color: black;
        text-shadow: 0 0 20px #5be723;
        font-size: 170%;
        font-weight: 900;
    }
    .options
    {
        text-decoration: none !important;
        color: black;
        text-shadow: 0 0 20px #5be723;
        font-size: 150%;
        font-weight: 900;
    }
}