
    
    .option
    {
        background-color: transparent;
        
        
    }
    .logo
    {
        border-radius: 48%;
        position: relative;
        top: 10px;
        &:hover{
            transform: scale(1.1);
            transition: transform ease-in;
        }
    }
    



