.pulse
    {
        color: #E90606;
        margin: 0 3px;
        font-size: 25px;
    }

    .footer-heading
    {
        font-size: 2rem;

    }

    .github
    {
        color: khaki;
        &:hover
        {
            transform: scale(1.1);
            
        }
    }

    