#page-header
{
   
   
   background-image: url('../../resources/image5.jpg'); 
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 570px;
   background-position:0 -100px; 
   position: relative;
   background-size: cover;

   .neon1
   {
      text-shadow: 0 0 30px #0c0000;
      font-size: 3rem;
   }
   
    
   
   
   
}

