#page-header
{
   
   
   background-image: url('../../resources/image5.jpg'); 
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 550px;
   background-position:0 -100px; 
   position: relative;
   background-size: cover;
   
    
   
   
   
}

