#page-header
{
   background: url('../../resources/image5.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 500px;
   background-position:0 -70px; 
   position: relative;
   overflow: hidden;
   background-size: cover;
   
   
 
   

   .neon1
   {
      text-shadow: 0 0 30px #131314;
      font-size: 2.0rem;
      font-weight: 600;
   }
   .neon2
   {
      text-shadow: 0 0 30px #992828;
      font-size: 15px;
      font-weight: 600;
   }
    
   
   
   
}

@media only screen and (max-device-width: 1366px)
   {
      #page-header{
         background-attachment: scroll;
      }
   }

